tmp/**
**/*.tmp
**/*.old
**/.tags*
**/*fuse*
**/*.log
logs/**
nohup*
subl_*

# all hidden files, except...
.*
tmp/**
**/*.tmp
**/*.old
**/.tags*
**/*fuse*
**/*.log
logs/**
nohup*
subl_*

# shell files
*.sh

# virtenvs:
.venv
Pipfile.lock

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

node_modules/
**/node_modules/
.sass-cache

*.sublime-workspace
*.sublime-project

# folders:
.*/**
students/**

# all hidden files escept .gitignore...
.*
# !/.gitignore
# !.gitmodules
# !.vscode
# !.bin

# all starting with double underscore
__*

**/node_modules/**
.sass-cache

*.sublime-workspace
# *.sublime-project

**/students/**
